/* Estilos para el pop-up de inicio de sesión */
.login-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario de inicio de sesión */
.login-form {
  display: flex;
  flex-direction: column;
}

/* Estilos para los campos de entrada de inicio de sesión */
.login-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el botón de inicio de sesión */
.login-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el botón de inicio de sesión al pasar el ratón */
.login-button:hover {
  background-color: #0056b3;
}

.close-button {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: grey;
  color: white;
  border: none;
  /* Elimina el borde del botón */
  padding: 5px 15px;
  /* Ajusta el padding para que el botón sea más grande */
  border-radius: 0px 10px 0px 10px;
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  z-index: 999;
}

.close-button:hover {
  background-color: red;
}

.error-message{
  color: red;
  margin-top: 20px;
}
