<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="wrapper">
  <footer class="footer">
      <div class="footer__section footer__contact">
        <a href="tel:+34600600600"><i class="fas fa-phone-alt"></i> +34 600 600 600</a>
        <a href="mailto:info@edixcinema.com"><i class="fas fa-envelope"></i> info@edixcinema.com</a>
      </div>
      <div class="footer__section footer__center">
        <a href="/sobre-nosotros">Sobre nosotros</a>
      </div>
      <div class="footer__section footer__social">
        <a href="https://www.facebook.com/edixCinema" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/edixCinema" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/edixCinema/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    <div class="footer__copyright">
      © 2024 TFG Cinema Lucía. Todos los derechos reservados.
    </div>
  </footer>
</div>
  
  
